body { 
	font-family: Heiti SC; 
}

.container { 
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*MAIN*/

#main { 
	text-align: center; 
	margin-top: 100px;
}

#main h1 { 
	color: #C55D29;
	font-size: 80px;
	margin-bottom: 40px;
}

#main p { 
	width: 550px;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	color: #446E88;
	line-height: 1.5;
}

#main ul { 
	color: #162D46;
	font-size: 30px;
	list-style: none;
	font-weight: bold;
	padding-bottom: 20px;
}

/*LIST OF SPONSORS*/

#sponsors { 
	background-color: #E19562;
	color: white;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -10px;
	margin-bottom: -17px;
	padding-top: 50px;
	padding-bottom: 50px;
}

#sponsors img { 
	height: 90px;
}

#sponsors ul { 
	text-align: center;
}

#sponsors li { 
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	opacity: 0.70;
	font-size: 25px;
}
